<a href="https://colab.research.google.com/github/AsifHasan07/edge_ict/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi")

Hi

In [ ]:
x= 7
y='Asif'
print(x)
print(y)

7
Asif

In [ ]:
x = str(7) # this is string
y = int(7) # this is integer
z = float(7) # this is float
print(type(x),type(y),type(z))

<class 'str'> <class 'int'> <class 'float'>

In [ ]:
# Cammel Case
firstName = input('Your first name :')
lastName = input("Your last name :")
print(f'Your full name is {firstName} {lastName}')

Your first name :Asif
Your last name :Hasan
Your full name is Asif Hasan

In [ ]:
# Getting sizes of data types
import sys
x,y,z = 1,str(2),b'3'
print(f'value:{x} , type:{type(x)} , size: {sys.getsizeof(x)}')
print(f'value:{y} , type:{type(y)} , size: {sys.getsizeof(y)}')
print(f'value:{z} , type:{type(z)} , size: {sys.getsizeof(z)}')
# print(x,sys.getsizeof(x))
# print(y,sys.getsizeof(y))
# print(z,sys.getsizeof(z))

value:1 , type:<class 'int'> , size: 28
value:2 , type:<class 'str'> , size: 50
value:b'3' , type:<class 'bytes'> , size: 34

In [ ]:
# Assign same value in multiple variable

x = y = z = "pink"
print(x,y,z);

pink pink pink

In [ ]:
# f-string-literal
name = 'Asif Hasan'
age  = 24

sentence1 = f"My name is {name}. I am {age} years old."
print(sentence1)
# text-format
sentence2 = "My name is {} . I am {} year old"
print(sentence2.format(name,age))

My name is Asif Hasan. I am 24 years old.
My name is Asif Hasan . I am 24 year old

In [ ]:
# Scope - global/local

x = 'awesome'

def myFunc():
  global y
  y = 'fantastic'

  print("Python is "+x) #using local x

myFunc()


print("Python is "+y) #using global y

Python is awesome
Python is fantastic

In [ ]:
#Data types
dt_string = 'Hello world'
dt_int = 20
dt_float = 20.5
dt_complex = 5j
dt_list = ['apple','orange',True,20,55.5]
dt_tupple = ("apple",'orange','cherry')
dt_range = range(100)
dt_dict = {"name":"asif","email":"asifhasan01609@gmail.com","phone":"+8801316825495"}
dt_set = {'apple','orange','cherry'}
dt_frozenSet = (dt_set)
dt_bool = True
dt_bytes = b"Hello"
dt_byteArray = bytearray(5)
dt_memoryView = memoryview(bytes(5))
dt_NoneType = None


dataTypes  = [dt_string,dt_int,
                   dt_float,dt_complex,
                   dt_list,dt_tupple,
                   dt_range,dt_dict,
                   dt_set,dt_frozenSet,
                   dt_bool, dt_bytes,
                   dt_byteArray,dt_memoryView,
                   dt_NoneType
                   ];

for dataTypeValue in dataTypes:
  print(f'Type:{type(dataTypeValue)} \nValue: {dataTypeValue}\n\n')

Type:<class 'str'>
Value: Hello world


Type:<class 'int'>
Value: 20


Type:<class 'float'>
Value: 20.5


Type:<class 'complex'>
Value: 5j


Type:<class 'list'>
Value: ['apple', 'orange', True, 20, 55.5]


Type:<class 'tuple'>
Value: ('apple', 'orange', 'cherry')


Type:<class 'range'>
Value: range(0, 100)


Type:<class 'dict'>
Value: {'name': 'asif', 'email': 'asifhasan01609@gmail.com', 'phone': '+8801316825495'}


Type:<class 'set'>
Value: {'cherry', 'orange', 'apple'}


Type:<class 'set'>
Value: {'cherry', 'orange', 'apple'}


Type:<class 'bool'>
Value: True


Type:<class 'bytes'>
Value: b'Hello'


Type:<class 'bytearray'>
Value: bytearray(b'\x00\x00\x00\x00\x00')


Type:<class 'memoryview'>
Value: <memory at 0x7c68848dc1c0>


Type:<class 'NoneType'>
Value: None

In [ ]:
# Checking ASCII charecters and ASCII values in a list
[str(c)+"="+chr(c) for c in range(ord('a'),ord('z')+1) if c%2 == 0]

['98=b',
 '100=d',
 '102=f',
 '104=h',
 '106=j',
 '108=l',
 '110=n',
 '112=p',
 '114=r',
 '116=t',
 '118=v',
 '120=x',
 '122=z']

In [ ]:

# Byte is memory efficient than string

word_as_bytes = bytes("cafe","utf-8")
word_as_string = "cafe"

print(f"Value: {word_as_string} , Type: {type(word_as_string)}, Size: {sys.getsizeof(word_as_string)}")
print(f"Value: {word_as_bytes} , Type: {type(word_as_bytes)}, Size: {sys.getsizeof(word_as_bytes)}")

Value: cafe , Type: <class 'str'>, Size: 53
Value: b'cafe' , Type: <class 'bytes'>, Size: 37

In [ ]:
# Home work - who is missing in li1
li = [i for i in range(10)]
li1 = li[:2]+li[3:]

for i in li:
  k = i
  for j in li1


print(li)
print(li[:2])
print(li[3:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1]
[3, 4, 5, 6, 7, 8, 9]